<h1>Login</h1>

<%= form_tag sessions_path do %>
  <div class="field">
    <%= label_tag :email %><br />
    <%= email_field_tag :email, params[:email] %>
  </div>
  <div class="field">
    <%= label_tag :passowrd %><br />
    <%= password_field_tag :password, params[:email] %>
  </div>
  <div class="action"><%= submit_tag 'Login' %></div>
<% end %>
